# Libraries

In [70]:
import requests
import pandas as pd
import numpy as np
import random

# Functions for crimes per year

In [71]:
def group_sum_crimes(df, year):
    """
    Input: DataFrame, Int
    Output: DataFrame
    
    # We receive a dataframe, we filter it by the year passed and we return a grouped by borough dataframe.
    """
    df = df[df.year==year]
    
    return df.groupby('borough').sum().drop('year', axis=1)

In [73]:
grouped_by = []
for year in range(2008, 2017):
    grouped_by.append(group_sum_crimes(df2, year))

NameError: name 'df2' is not defined

In [74]:
def concat_years(dfs):
    """
    Input: list
    Output: DataFrame
    
    # We'll receive a list of DataFrames and then concatenate them together
    """
    df = pd.concat([dfs[0], dfs[1]], axis=1)
    
    for dataframe in dfs[2:]:
        df = pd.concat([df, dataframe], axis=1, sort=False)
        
    return df

In [75]:
years = concat_years(grouped_by)
years.columns = range(2008, 2017)

IndexError: list index out of range

# DF containing the sum of crimes per boroughs according to the years

In [76]:
years

NameError: name 'years' is not defined

In [317]:
years.to_csv("years.csv")

In [308]:
#years = years.drop(['City of London'])# dropping the City of London row because not all information was accessible.

In [79]:
years['Min']=years.apply(lambda x: x.min(),axis=1)

NameError: name 'years' is not defined

In [80]:
years['Max']= years.apply(lambda x: x.max(),axis=1)

NameError: name 'years' is not defined

In [81]:
years['Average']= years.apply(lambda x: x.mean(), axis=1)

NameError: name 'years' is not defined

In [82]:
years[years.Average == years.Average.min()]# Over the DF; Kingston upon Thames has the least crimes.

NameError: name 'years' is not defined

In [83]:
years[years.Average == years.Average.max()]# Over the DF; Westminster has the most crimes

NameError: name 'years' is not defined

In [321]:
stats = years.describe() # statistics of the DF

In [324]:
stats.to_csv("stats.csv")

In [85]:
years.loc[:,:].max()

NameError: name 'years' is not defined

In [86]:
years.idxmax(axis=0, skipna=True)# The borough which has the most crimes related to the year

NameError: name 'years' is not defined

In [87]:
years.idxmin(axis=0, skipna=True)#The borough which has the less crimes related to the year

NameError: name 'years' is not defined

In [88]:
years.loc['Kensington and Chelsea'].mean()

NameError: name 'years' is not defined

# Dataframe for the major crimes types

In [89]:
df = df[df.year==year]

NameError: name 'df' is not defined

In [313]:
#df_crimes= df2.groupby(['major_category']).sum().drop(['year'],axis=1)
df_crimes= df2.groupby(['year','major_category']).sum()

NameError: name 'df2' is not defined

In [314]:
df_crimes

                                   value
year major_category
2008 Burglary                      88092
     Criminal Damage               91872
     Drugs                         68804
     Fraud or Forgery               5325
     Other Notifiable Offences     10112
     Robbery                       29627
     Sexual Offences                1273
     Theft and Handling           283692
     Violence Against the Person  159844
2009 Burglary                      90619
     Criminal Damage               85565
     Drugs                         60549
     Other Notifiable Offences     10644
     Robbery                       29568
     Theft and Handling           279492
     Violence Against the Person  160777
2010 Burglary                      86826
     Criminal Damage               77897
     Drugs                         58674
     Other Notifiable Offences     10768
     Robbery                       32341
     Theft and Handling           290924
     Violence Against the Person  157894
2011 Burglary                      93315
     Criminal Damage               70914
     Drugs                         57550
     Other Notifiable Offences     10264
     Robbery                       36679
     Theft and Handling           309292
     Violence Against the Person  146901
...                                  ...
2012 Theft and Handling           334054
     Violence Against the Person  150014
2013 Burglary                      87222
     Criminal Damage               56206
     Drugs                         50278
     Other Notifiable Offences     10811
     Robbery                       29337
     Theft and Handling           306372
     Violence Against the Person  146181
2014 Burglary                      76053
     Criminal Damage               59279
     Drugs                         44435
     Other Notifiable Offences     13037
     Robbery                       22150
     Theft and Handling           279880
     Violence Against the Person  185349
2015 Burglary                      70489
     Criminal Damage               62976
     Drugs                         39785
     Other Notifiable Offences     14229
     Robbery                       21383
     Theft and Handling           284022
     Violence Against the Person  218740
2016 Burglary                      68285
     Criminal Damage               64071
     Drugs                         38914
     Other Notifiable Offences     15809
     Robbery                       22528
     Theft and Handling           294133
     Violence Against the Person  232381

[65 rows x 1 columns]

In [318]:
df_crimes.to_csv("crimes.csv")

In [315]:
df_crimes[df_crimes.value == df_crimes.value.min()]# This is the crime with the least amount.

                      value
year major_category
2008 Sexual Offences   1273

In [316]:
df_crimes[df_crimes.value == df_crimes.value.max()]# This is the biggest issue in London.

                          value
year major_category
2012 Theft and Handling  334054

# Some Info

In [93]:
df = pd.read_csv('/Users/vladimirautier/Documents/GitHub/Week4/Code_project_3/london_crime_by_lsoa.csv')# overall DF

FileNotFoundError: [Errno 2] File b'/Users/vladimirautier/Documents/GitHub/Week4/Code_project_3/london_crime_by_lsoa.csv' does not exist: b'/Users/vladimirautier/Documents/GitHub/Week4/Code_project_3/london_crime_by_lsoa.csv'

In [55]:
df.head()

NameError: name 'df' is not defined

We have the dataframe for the major crimes in London from 2008-2016 listed in different Borroughs

In [56]:
#Looking at the different types of elements in our DF
print(df.info())

NameError: name 'df' is not defined

In [57]:
#df['year'].unique()
df1 = df.sort_values('year')

NameError: name 'df' is not defined

In [58]:
df1.head()#ordering the years

NameError: name 'df1' is not defined

In [59]:
df1['year'].unique()

NameError: name 'df1' is not defined

In [60]:
dict= {1:'January',2:'February',3:"March",4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'}
df1['month'].replace(dict,inplace=True)

NameError: name 'df1' is not defined

In [61]:
df1.head()

NameError: name 'df1' is not defined

In [62]:
df1.drop(['lsoa_code'],axis=1,inplace=True) #dropping the lsoa_code

NameError: name 'df1' is not defined

In [63]:
df1.head()

NameError: name 'df1' is not defined

In [64]:
df2 = df1[df1.value!=0]# erasing the 0 value in column=value and calling it df2

NameError: name 'df1' is not defined

In [65]:
df2.head()

NameError: name 'df2' is not defined

In [66]:
df2.groupby(['year']).sum() # groupby year to find the total value of crimes per year

NameError: name 'df2' is not defined

This is the total value of crimes per year

# Data 2008

In [67]:
df_2008 = df2[df2.year==2008]

NameError: name 'df2' is not defined

In [68]:
#df_2008.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [69]:
a = df_2008.groupby(['borough']).sum().drop(['year'],axis=1)

NameError: name 'df_2008' is not defined

Number of crimes per borough in 2008

# Data 2009

In [32]:
df_2009 = df2[df2.year==2009]

NameError: name 'df2' is not defined

In [33]:
#df_2009.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [34]:
b = df_2009.groupby(['borough']).sum().drop(['year'],axis=1)

NameError: name 'df_2009' is not defined

Number of crimes per borough in 2009

# Data 2010

In [35]:
df_2010 = df2[df2.year==2010]

NameError: name 'df2' is not defined

In [288]:
#df_2010.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [289]:
c = df_2010.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2010

# Data 2011

In [290]:
df_2011 = df2[df2.year==2011]

In [291]:
#df_2011.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [292]:
d = df_2011.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2011

# Data 2012

In [293]:
df_2012 = df2[df2.year==2012]

In [294]:
#df_2012.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [295]:
e = df_2012.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2012

# Data 2013

In [296]:
df_2013 = df2[df2.year==2013]

In [297]:
#df_2013.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [298]:
f = df_2013.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2013

# Data 2014

In [299]:
df_2014 = df2[df2.year==2014]

In [300]:
#df_2014.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [301]:
g = df_2014.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2014

# Data 2015

In [302]:
df_2015 = df2[df2.year==2015]

In [303]:
#df_2015.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [304]:
h = df_2015.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2015

# Data 2016

In [305]:
df_2016 = df2[df2.year==2016]

In [306]:
#df_2016.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [307]:
i = df_2016.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2016