In [160]:
from police_api import PoliceAPI
import pandas as pd
import re

In [161]:
api = PoliceAPI()

In [162]:
all_forces = api.get_forces()     #finding all england forces
all_forces

[<Force> Avon and Somerset Constabulary,
 <Force> Bedfordshire Police,
 <Force> Cambridgeshire Constabulary,
 <Force> Cheshire Constabulary,
 <Force> City of London Police,
 <Force> Cleveland Police,
 <Force> Cumbria Constabulary,
 <Force> Derbyshire Constabulary,
 <Force> Devon & Cornwall Police,
 <Force> Dorset Police,
 <Force> Durham Constabulary,
 <Force> Dyfed-Powys Police,
 <Force> Essex Police,
 <Force> Gloucestershire Constabulary,
 <Force> Greater Manchester Police,
 <Force> Gwent Police,
 <Force> Hampshire Constabulary,
 <Force> Hertfordshire Constabulary,
 <Force> Humberside Police,
 <Force> Kent Police,
 <Force> Lancashire Constabulary,
 <Force> Leicestershire Police,
 <Force> Lincolnshire Police,
 <Force> Merseyside Police,
 <Force> Metropolitan Police Service,
 <Force> Norfolk Constabulary,
 <Force> North Wales Police,
 <Force> North Yorkshire Police,
 <Force> Northamptonshire Police,
 <Force> Northumbria Police,
 <Force> Nottinghamshire Police,
 <Force> Police Service of Northern Ireland,
 <Force> South Wales Police,
 <Force> South Yorkshire Police,
 <Force> Staffordshire Police,
 <Force> Suffolk Constabulary,
 <Force> Surrey Police,
 <Force> Sussex Police,
 <Force> Thames Valley Police,
 <Force> Warwickshire Police,
 <Force> West Mercia Police,
 <Force> West Midlands Police,
 <Force> West Yorkshire Police,
 <Force> Wiltshire Police]

In [163]:
london_force = all_forces[24] #FINDING FORCES FOR LONDON
london_force

<Force> Metropolitan Police Service

In [164]:
london_nei = london_force.neighbourhoods     #getting neighbourhoods in london
len(london_nei)

658

In [165]:
df_code = pd.DataFrame({'code': london_nei})       #data frame with NH code
df_code.head()

                        code
0  <Neighbourhood> E05000026
1  <Neighbourhood> E05000455
2  <Neighbourhood> E05000630
3  <Neighbourhood> E05000214
4  <Neighbourhood> E05009388

In [166]:
df_code['Neighbourhood'] = df_code.apply(lambda x: x['code'].name, axis=1) 
    #importing neighbourhood names in the dataframe
#df_code.drop(columns=[0],inplace=True) 
#df_code.set_index('code',inplace=True)
#df['Neighbourhood'].crimes[1]
df_code.head()

                        code Neighbourhood
0  <Neighbourhood> E05000026         Abbey
1  <Neighbourhood> E05000455         Abbey
2  <Neighbourhood> E05000630    Abbey Road
3  <Neighbourhood> E05000214    Abbey Wood
4  <Neighbourhood> E05009388      Abingdon

In [167]:
df_code['code'][0].crimes

[<Crime> 77680353,
 <Crime> 77680354,
 <Crime> 77680372,
 <Crime> 77680373,
 <Crime> 77680374,
 <Crime> 77680375,
 <Crime> 77680376,
 <Crime> 77680377,
 <Crime> 77680378,
 <Crime> 77680379,
 <Crime> 77680380,
 <Crime> 77680382,
 <Crime> 77680384,
 <Crime> 77680385,
 <Crime> 77680386,
 <Crime> 77680387,
 <Crime> 77680388,
 <Crime> 77680391,
 <Crime> 77680392,
 <Crime> 77680393,
 <Crime> 77680394,
 <Crime> 77680395,
 <Crime> 77680427,
 <Crime> 77680383,
 <Crime> 77680411,
 <Crime> 77680428,
 <Crime> 77680396,
 <Crime> 77680397,
 <Crime> 77680401,
 <Crime> 77680402,
 <Crime> 77680403,
 <Crime> 77680404,
 <Crime> 77680406,
 <Crime> 77680407,
 <Crime> 77680408,
 <Crime> 77680410,
 <Crime> 77687171,
 <Crime> 77680413,
 <Crime> 77680414,
 <Crime> 77680417,
 <Crime> 77680418,
 <Crime> 77680419,
 <Crime> 77680420,
 <Crime> 77680421,
 <Crime> 77680422,
 <Crime> 77680423,
 <Crime> 77680424,
 <Crime> 77680425,
 <Crime> 77680426,
 <Crime> 77711324,
 <Crime> 77746611,
 <Crime> 77710891,
 <Crime> 77761259,
 <Crime> 77723891,
 <Crime> 77756422,
 <Crime> 77723941,
 <Crime> 77713224,
 <Crime> 77760293,
 <Crime> 77746781,
 <Crime> 77732647,
 <Crime> 77734372,
 <Crime> 77713735,
 <Crime> 77695967,
 <Crime> 77708379,
 <Crime> 77700999,
 <Crime> 77701559,
 <Crime> 77712078,
 <Crime> 77760865,
 <Crime> 77757578,
 <Crime> 77759699,
 <Crime> 77754640,
 <Crime> 77754644,
 <Crime> 77754642,
 <Crime> 77754338,
 <Crime> 77756344,
 <Crime> 77754031,
 <Crime> 77757755,
 <Crime> 77753058,
 <Crime> 77759700,
 <Crime> 77759637,
 <Crime> 77757667,
 <Crime> 77752595,
 <Crime> 77748527,
 <Crime> 77759785,
 <Crime> 77752008,
 <Crime> 77712437,
 <Crime> 77721091,
 <Crime> 77712942,
 <Crime> 77709085,
 <Crime> 77695681,
 <Crime> 77710803,
 <Crime> 77733785,
 <Crime> 77722662,
 <Crime> 77741839,
 <Crime> 77740663,
 <Crime> 77739367,
 <Crime> 77713613,
 <Crime> 77698122,
 <Crime> 77697403,
 <Crime> 77695971,
 <Crime> 77745981,
 <Crime> 77699900,
 <Crime> 77707116,
 <Crime> 77734488,
 <Crime> 77735465,
 <Crime> 77702358,
 <Crime> 77749301,
 <Crime> 77705862,
 <Crime> 77731350,
 <Crime> 77735411,
 <Crime> 77711112,
 <Crime> 77749145,
 <Crime> 77744173,
 <Crime> 77745662,
 <Crime> 77719748,
 <Crime> 77721296,
 <Crime> 77734611,
 <Crime> 77735139,
 <Crime> 77733409,
 <Crime> 77745113,
 <Crime> 77708935,
 <Crime> 77745112,
 <Crime> 77743853,
 <Crime> 77729087,
 <Crime> 77707607,
 <Crime> 77696320,
 <Crime> 77698974,
 <Crime> 77709200,
 <Crime> 77741921,
 <Crime> 77722301,
 <Crime> 77719863,
 <Crime> 77738885,
 <Crime> 77735609,
 <Crime> 77704587,
 <Crime> 77712594,
 <Crime> 77750088,
 <Crime> 77711296,
 <Crime> 77733767,
 <Crime> 77746293,
 <Crime> 77737835,
 <Crime> 77737643,
 <Crime> 77714059,
 <Crime> 77709707,
 <Crime> 77723288,
 <Crime> 77715669,
 <Crime> 77704405,
 <Crime> 77749237,
 <Crime> 77741184,
 <Crime> 77722051,
 <Crime> 77712943,
 <Crime> 77737120,
 <Crime> 77707670,
 <Crime> 77732051,
 <Crime> 77709372,
 <Crime> 77706998,
 <Crime> 77710820,
 <Crime> 77747929,
 <Crime> 77749371,
 <Crime> 77708078,
 <Crime> 77716249,
 <Crime> 77709726,
 <Crime> 77709266,
 <Crime> 77709368,
 <Crime> 77713343,
 <Crime> 77733443,
 <Crime> 77743656,
 <Crime> 77740071,
 <Crime> 77742788,
 <Crime> 77720086,
 <Crime> 77740027,
 <Crime> 77696243,
 <Crime> 77710473,
 <Crime> 77713793,
 <Crime> 77712344,
 <Crime> 77743396,
 <Crime> 77725458,
 <Crime> 77720099,
 <Crime> 77697296,
 <Crime> 77724070,
 <Crime> 77725574,
 <Crime> 77708337,
 <Crime> 77734140,
 <Crime> 77734267,
 <Crime> 77720740,
 <Crime> 77720316,
 <Crime> 77736578,
 <Crime> 77719578,
 <Crime> 77704763,
 <Crime> 77704762,
 <Crime> 77734262,
 <Crime> 77733875,
 <Crime> 77715492,
 <Crime> 77744623,
 <Crime> 77736508,
 <Crime> 77709511,
 <Crime> 77709658,
 <Crime> 77734736,
 <Crime> 77734601,
 <Crime> 77731024,
 <Crime> 77730916,
 <Crime> 77721563,
 <Crime> 77720711,
 <Crime> 77720986,
 <Crime> 77722894,
 <Crime> 77747233,
 <Crime> 77750236,
 <Crime> 77750621,
 <Crime> 77749434,
 <Crime> 77748165,
 <Crime> 77745008,
 <Crime> 77745035,
 <Crime> 77744884,
 <Crime> 77755133,
 <Crime> 77745382,
 <Crime> 77742017,
 <Crime> 77742183,
 <Crime> 77741086,
 <Crime> 77747695,
 <Crime> 77748214,
 <Crime> 77738270,
 <Crime> 77737072,
 <Crime> 77737292,
 <Crime> 77704695,
 <Crime> 77704158,
 <Crime> 77756227,
 <Crime> 77757118,
 <Crime> 77712991,
 <Crime> 77712755,
 <Crime> 77757375,
 <Crime> 77757735,
 <Crime> 77710622,
 <Crime> 77708921,
 <Crime> 77717560,
 <Crime> 77700892,
 <Crime> 77715140,
 <Crime> 77708232,
 <Crime> 77707248,
 <Crime> 77736028,
 <Crime> 77697681,
 <Crime> 77749972,
 <Crime> 77697167,
 <Crime> 77696631,
 <Crime> 77725320,
 <Crime> 77716555,
 <Crime> 77755781,
 <Crime> 77741009,
 <Crime> 77721365,
 <Crime> 77711543,
 <Crime> 77712162,
 <Crime> 77712406,
 <Crime> 77724947,
 <Crime> 77725095,
 <Crime> 77725459,
 <Crime> 77719253,
 <Crime> 77719254,
 <Crime> 77720509,
 <Crime> 77721364,
 <Crime> 77744321,
 <Crime> 77746660,
 <Crime> 77736082,
 <Crime> 77735763,
 <Crime> 77735801,
 <Crime> 77735495,
 <Crime> 77734670,
 <Crime> 77758963,
 <Crime> 77760009]

In [168]:
df_code.code=df_code.code.astype(str)
df_code['code']=df_code['code'].apply(lambda x:x.split(">")[1])
df_code

           code            Neighbourhood
0     E05000026                    Abbey
1     E05000455                    Abbey
2     E05000630               Abbey Road
3     E05000214               Abbey Wood
4     E05009388                 Abingdon
..          ...                      ...
653   E05000230       Woolwich Riverside
654   E05000572           Worcester Park
655   E05000265  Wormholt and White City
656   E05000344                  Yeading
657   E05000345                 Yiewsley

[658 rows x 2 columns]

In [169]:
new_crimes=[]
neighb=[]
officers=[]
for i in london_nei:
    officers.append(i.officers)    
    for j in i.crimes:       
        neighb.append(i.name)
        new_crimes.append(j.category)

#print(new_crimes)
#print(neighb)
df_crimes=pd.DataFrame(neighb)
df_crimes['crimes']=new_crimes
df_neii
#new_list
#london_nei[2].crimes[2]
#df_crime=pd.DataFrame()
#df_crime

In [0]:
df_crimes.crimes=df_crimes.crimes.astype(str)
df_crimes['crimes']=df_crimes['crimes'].apply(lambda x:x.split(">")[1])

In [0]:
df_crimes.rename(columns={0:'Neighbourhood'},inplace=True)
df_crimes.crimes.unique()

In [0]:
df_crimes

In [0]:
abb = london_nei[0]#EXAMPLE OF ABBEY
abb.name
df_nei=pd.DataFrame({'code': london_nei})
df_nei

In [0]:
neighbourhoods = london_force.neighbourhoods
neighbourhoods_names = [for neighbourhood in neighbourhoods]

In [0]:
test = df_code.merge(df_crimes, how='right').groupby(['crimes','Neighbourhood']).count()

In [0]:
for n in df_nei[0]:
    n.crimes

In [0]:
test

In [0]:
test.reset_index(level=1, inplace=True)

In [0]:
test.head()

In [0]:
test.loc[' Anti-social behaviour']

In [0]:
test.index

In [0]:
df_officers=pd.DataFrame(neighb)
df_officers['officers']=officers
df_officers